* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #efefef;
}

.slide-content {
    margin: 0 40px;
}

.card {
    border-radius: 25px;
    background: #fff;
    width: 320px;
}

.image-content,
.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}
.card-image {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 5px;
    background: #fff;
    padding: 3px;
}

.card-image .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
    border: 4px solid #4070f4;
}